<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
  </head>
  <body>
    <h1>{% block header_text %}{% endblock %}</h1>
    <form method="POST" action="{% block form_action %}{% endblock %}">
      {% csrf_token %}
      <input
        name="item_text"
        type="text"
        id="new-item-input"
        placeholder="Enter a to-do item"
      />
    </form>
    {% block table %} {% endblock %}
  </body>
</html>
